:local(.body) {
	background-image: url("~img/background-man-5.jpeg");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
:local(.card) {
	background-color: #fdfdfd;
	justify-content: center;
	align-content: center;
	min-width: 300px;
}
:local(.btn) {
	width: 100%;
	background-color: #d21717 !important;
}
:local(.input) {
	width: 100%;
	margin-bottom: 10px;
}