:local(.body) {
	background-image: url("~img/background-man-5.jpeg");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
@import '~@blueprintjs/core/src/common/_colors.scss';

:local(.card) {
	border-radius: 8px;
	background-color: #ffffffd7;
	overflow: hidden;
	&__image {
		background-image: url('~img/photo-man--2.jpeg');
		background-size: cover;
		min-height: 300px;
		width: 250px;
	}
	&__content {
		max-width: 500px;
	}
	&__input {
		width: 100%;
	}
	&__title {
	}
	&__btn {
		margin-bottom: 10px;
		width: 100%;
	}
	&__rule {
		width: 100%;
	}
}