@import '~@blueprintjs/core/src/common/_colors.scss';

:local(.card) {
	border-radius: 8px;
	background-color: #ffffffd7;
	overflow: hidden;
	&__image {
		background-image: url('~img/photo-man--2.jpeg');
		background-size: cover;
		width: 250px;
	}
	&__content {
		max-width: 500px;
	}
	&__input {
		width: 100%;
	}
	&__title {
	}
	&__btn {
		margin-bottom: 10px;
		width: 100%;
	}
	&__rule {
		width: 100%;
	}
}