// Making margin/ padding following by https://gist.github.com/furey/aa886e3117f103af6046fc1978d5ca09

// For example:
// .m-none { margin: 0; }
// .p-none { padding: 0; }
// .m-t-none { margin-top: 0; }
// .p-t-none { padding-top: 0; }
// .m-r-none { margin-right: 0; }
// .p-r-none { padding-right: 0; }
// .m-b-none { margin-bottom: 0; }
// .p-b-none { padding-bottom: 0; }
// .m-l-none { margin-left: 0; }
// .p-l-none { padding-left: 0; }
// .m-xxs { margin: 0.125rem; }
// .p-xxs { padding: 0.125rem; }
// .m-t-xxs { margin-top: 0.125rem; }
// .p-t-xxs { padding-top: 0.125rem; }
// .m-r-xxs { margin-right: 0.125rem; }
// .p-r-xxs { padding-right: 0.125rem; }
// .m-b-xxs { margin-bottom: 0.125rem; }
// .p-b-xxs { padding-bottom: 0.125rem; }
// .m-l-xxs { margin-left: 0.125rem; }
// .p-l-xxs { padding-left: 0.125rem; }
// .m-xs { margin: 0.25rem; }
// .... 

// Use for margin/ padding
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
	('l', 'left'),
);
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
	('l', 'left'),
);
$positions-extend: (
    ('v', 'top', 'bottom'),
	('h', 'right', 'left'),
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
		}
	}
	@each $position-extend in $positions-extend {
        $posKey: nth($position-extend, 1);
		$posValue1st: nth($position-extend, 2);
        $posValue2nd: nth($position-extend, 3);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
			margin-#{$posValue1st}: sizeValue($sizeKey, $sizeValue);
			margin-#{$posValue2nd}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
			padding-#{$posValue1st}: sizeValue($sizeKey, $sizeValue);
			padding-#{$posValue2nd}: sizeValue($sizeKey, $sizeValue);
		}
    }
}