@import '~include-media/dist/_include-media.scss';
@import "~@blueprintjs/core/lib/scss/variables";

:local(.menu-group) {
	// float: left;
}
:local(.menu) {
	// background-color: black;
	
}

.o-menu {
	&--vertical {
		display: flex;
		flex-direction: row;
		@include media("<=tablet") {
			flex-direction: column;
		}
	}
	&__item {

	}
	&__link {
		color:unset;
		&--selected {
			color: $blue1;
			font-weight: bold;
		}
		.bp3-dark & {
			color: unset;
		}
		&:hover{
			text-decoration: none;
		}
	}

}
