:local(.logo) {
	height: 40px;
}

.nav {
	width: 100%
}
.rightAvatar {
	flex: 1;
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.dashboard-app {
	display: flex;
	flex: 1;
	flex-direction: column;
}

:local(.menuDiaglogSibling)  +  .bp3-dialog-container {
	align-items: flex-start;
	justify-content: flex-start;
}